﻿@using IONIS.SW.WebApp.Models
@model MeetingModel

<form method="post" asp-controller="Meeting" asp-action="Create">
    <label>Titre</label>
    <input asp-for="Title" />

    <label>Description</label>
    <input asp-for="Description" />

    <label>Date de Creation</label>
    <input asp-for="CreationDate" />

    <label>Date de la reunion</label>
    <input asp-for="HoldingDate" />

    <button type="submit">Valider</button>
</form>